body {
    background-color: #F0FCFF;
    color: #000000;
    font-family: Meiryo;
}

h1 {
    color: #18BDFF;
    border-bottom: 2px solid #18BDFF;
    padding-bottom: 5px;
}

a {
    color: #0000ff;
    font-weight: bold;
}

img {
    width: 400px;
    display: block;
    height: auto;
    margin-top: 25px;
    border-radius: 10px;
}
